span.error{
      display: block;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 2rem;
      margin-top: -1px;
      padding: 0.375rem 0.5625rem 0.5625rem;
      background: #27A9E0;
      color: #FFFFFF;
      margin-left: -1px;
      text-align: center;
    }
.btn-md{
      padding: 9px 10px;
}
.region_cls{
      margin-bottom:10px;
}    
.table-image{
    width: 50px;
    height: 50px;
    overflow: hidden;  
}
.required{
    color: red;
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: -10px;
}
.success-box {
    background: #dff0d8;
    border: solid 1px #d6e9c6;
    color: #3c763d;
    padding: 11px;
    text-align: center;
    cursor: pointer;
}
.error-box {
    background: #f2dede;
    border: solid 1px #ebccd1;
    color: #a94442;
    padding: 11px;
    text-align: center;
    cursor: pointer;
}
.loader {
    text-align: center;
    display: none;
}
.maxheight{
  max-height: 400px;
  overflow-x: scroll;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: #FFF;
}

.disabled{
  cursor: not-allowed !important;
}
.error_c{
  margin-bottom:10px;margin-top:0px !important;
}
select.error{
  color: black !important;
}

label.radio-checkbox.disabled {
    opacity: 0.7;
}

.btn-primary:focus{
  background-color: #27A9E0;
    color: #fff;
    transition: all 0.5s ease;
}